<!-- html form for the analysis page -->
<!-- Nicole -->


<html>
    <head>
        <title>Vehicle Fleet Database</title>
        <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'style.css')}}">

    </head>
    <body text = "white">
        <div class = "menu-bar">
    <ul> 
        <li class = "active"><a href = "#">Analyze</a></li>
        <li><a href = about-page>About</a></li>
        
    </ul>
    </div>
	    <h4>Choose a Vehicle Make</h4>
        <form action="/make-handler" method="POST">
            <div>
                <label>View all vehicles in the fleet with your choice</label>
                <select name = "make" id = "vehicle_makes"> 
                    <option value = "Ford">Ford</option>
                    <option value = "Chevy">Chevy</option>
                    <option value = "Dodge">Dodge</option>
                    <option value = "2500 van">2500 van</option>
                </select>

            </div>
                <input type="submit" value="Submit">
        </form>
        <br>
        <h4>Choose an Engine Type</h4>
        <form action="/engine-handler" method="POST">
            <div>
                <label>View all vehicles in the fleet with your choice
                    <select name = "engine" id = "vehicle_engines"> 
                        <option value = "ICE">ICE</option>
                        <option value = "Zero">Zero</option>
                        <option value = "Hybrid">Hybrid</option>
                    </select>
            </div>
                <input type="submit" value="Submit">
        </form>
        <br>
        <h4>Order By Different Attributes</h4>
        <form action="/emissions-handler" method="POST">
            <div>
                Organize all vehicles by amount of emissions
            </div>
                Choose lowest emissions value
                <input type = "text" name = "lowEmission">
                <br>
                Choose highest emissions value
                <input type = "text" name = "highEmission">
                <br>
                <input type="submit" value="Submit">
        </form>
        <form action="/year-handler" method="POST">
            <div>
                Organize all vehicles by year
            </div>
                Choose start year
                <input type = "text" name = "startYear">
                <br>
                Choose end year
                <input type = "text" name = "endYear">
                <br>
            </div>
                <input type="submit" value="Submit">
        </form>
        


    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
    </style>
</html>
